/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1b7878;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

.status {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.board-row {
  display: flex;
}

.square {
  background-color: #ffffff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  width: 200px;
  margin: -1px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: #eee;
}

/* Add this CSS to your App.css file */
.winning-row::after {
  content: '';
  display: table;
  clear: both;
}

.winning-square {
  background-color: yellow; /* Adjust the background color as desired */
}
.game-title {
  font-size: 35px; /* Set the font size */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add some top margin for spacing */
  color: #aae800; /* Set the text color */
  text-transform: uppercase; /* Convert text to uppercase */
}
.new-game-button {
  
  background-color: #aae800; /* Set the background color */
  color: #000000; /* Set the text color */
  padding: 10px 20px; /* Add padding for spacing */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the button border */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px; /* Round the button corners */
}
.button-container {
  text-align: center; /* Center the content horizontally */
  margin-top: 20px; /* Add top margin for spacing */
}


.new-game-button:hover {
  background-color: #0056a3; /* Change the background color on hover */
}
